body {
  padding-top: 30px;
  text-align: center;

  background-image: url('../images/bg.jpg');
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  grid-gap: 1em;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.image-item {
  display: block;
  // Экстрамалые девайсы («портретные телефоны», < 576px)
  @media (max-width: 575px) {
    width: calc(100vw - 50px);
  }
  // Малые девайсы («ландшафтные», >= 575px)
  @media (min-width: 576px) and (max-width: 767.98px) {
    width: calc(100vw / 2 - 50px);
  }

  // Средние девайсы («таблетки», >= 768px)
  @media (min-width: 768px) and (max-width: 1199.98px) {
    width: calc(100vw / 3 - 50px);
  }

  // Большие девайсы (большие десктопы, >= 1200px)
  @media (min-width: 1200px) {
    width: calc(100vw / 4 - 40px);
  }
  box-shadow: 0px 5px 5px rgba(31, 30, 30, 0.5);
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: no-wrap;
  // font-size: 15px;
  &-item {
    font-size: 14px;
  }
}
.photo-card-item {
  width: 100%;
  margin-bottom: 20px;
}

.pnotify {
  position: absolute;
  top: 0;
  right: 0;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

.bottom-element {
  display: block;
  height: 300px;
}

.form-control {
  margin-right: 20px;
  width: 250px;
  border: 2px solid #ced4da;
}
.search-form {
  display: flex;
  justify-content: center;
}

.material-icons {
  font-size: 16px;
  color: #0062cc;
}
.btn-primary {
  color: #fff;
  background-color: #0062cc;
}
